<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>
        <%= link_to "←", user_path(date: @first_day.prev_month), class: "btn btn-primary" %>
        <%= "　" %>
        <%= l(@first_day, format: :middle) %><%= "　" %>時間管理表
        <%= "　" %>
        <%= link_to "→", user_path(date: @first_day.next_month), class: "btn btn-primary" %>
      </td>
      <td>
        指定勤務開始時間<%= "　" %><%= format_basic_info(@user.designated_work_start_time) %>
          <br>
        指定勤務終了時間<%= "　" %><%= format_basic_info(@user.designated_work_end_time) %>
      </td>
      <td colspan="3">基本時間<%= "　" %><%= format_basic_info(@user.basic_work_time) %></td>
      <td>初日<%= "　" %><%= l(@first_day, format: :short2) %></td>
    </tr>
    <tr>
      <td>所属<%= "　" %><%= @user.affiliation.present? ? @user.affiliation : "未所属" %></td>
      <td>名前<%= "　" %><%= @user.name %></td>
      <td>コード</td>
      <td><%= @user.id %></td>
      <td>出勤日数<%= "　" %>：<%= @worked_sum %>日</td>
      <td>末日<%= "　" %><%= l(@last_day, format: :short2) %></td>
    </tr>
  </table>
</div>


<% if current_user.superior? && current_user?(@user) %>
  <div class="btn-user-show">
    
    
    <p>
      【所属長勤怠申請のお知らせ】
      <% unless has_month_apply.count == 0 %>
        <%= link_to "#{has_month_apply.count}件の通知があります", attendances_monthly_confirmation_form_user_path(@user), remote: true, class: "notice-superior" %>
      <% end %>
    </p>
    
    <p>
      【勤怠変更申請のお知らせ】
      <% unless has_change_apply.count == 0 %>
        <%= link_to "#{has_change_apply.count}件の通知があります", attendances_change_apply_form_user_path(@user), remote: true, class: "notice-superior" %>
      <% end %>
    </p>
    
    <p>
      【残業申請のお知らせ】
      <% unless has_overtime_apply.count == 0 %>
        <%= link_to "#{has_overtime_apply.count}件の通知があります", attendances_overtime_superior_reply_user_path(@user), remote: true, class: "notice-superior" %>
      <% end %>
    </p>
    
  </div>
<% end %>
<% if current_user?(@user) %>
  <%= link_to "勤怠を編集", attendances_edit_one_month_user_path, class: "btn btn-primary" %>
  <%= link_to "CSV出力", user_path(format: :csv), class: "btn btn-primary" %>
    <br>
  <%= link_to "勤怠修正ログ（承認済）", attendances_attendance_log_user_path(date: @first_day), class: "btn btn-primary" %>
<% end %>
  
<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th rowspan="3">残業申請</th>
        <th rowspan="3">日付</th>
        <th rowspan="3">曜日</th>
        <th rowspan="3">勤怠登録</th>
        <th colspan="8">実績</th>
        <th colspan="5">所定外勤務</th>
      </tr>
      <tr>
        <th colspan="2">出社</th>
        <th colspan="2">退社</th>
        <th rowspan="2">在社時間</th>
        <th rowspan="2">備考</th>
        <th colspan="2">終了予定時間</th>
        <th rowspan="2">時間外時間</th>
        <th rowspan="2">業務処理内容</th>
        <th rowspan="2">指示者確認㊞</th>
      </tr>
      <tr>
        <td>時</td>
        <td>分</td>
        
        <td>時</td>
        <td>分</td>
        
        <td>時</td>
        <td>分</td>
        
      </tr>
    </thead>

    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <% if current_user.id == @user.id %>
            <td><%= link_to "残業申請", attendances_edit_overtime_info_user_path(date: day.worked_on), remote: true, class: "btn btn-primary" if current_user?(@user) %></td>
          <% else %>
            <td></td>
          <% end %>
          <td><%= l(day.worked_on, format: :short) %></td>
          
          <td>
          <% if day.worked_on.wday == 0 %>
            <font color="RED">
              <%= $days_of_the_week[day.worked_on.wday] %>
            </font>
          <% elsif day.worked_on.wday == 6 %>
            <font color="BLUE">
              <%= $days_of_the_week[day.worked_on.wday] %>
            </font>
          <% else %>
            <%= $days_of_the_week[day.worked_on.wday] %>
          <% end %>
          </td>
          
          <td>
            <% if btn_text = attendance_state(day) %>
              <%= link_to "#{btn_text}登録", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendances "%>
            <% end %>
          </td>
          
          <td><%= l(day.started_at, format: :hour) if day.started_at.present? %></td>
          <td><%= l(day.started_at, format: :minute) if day.started_at.present? %></td>
          
          <td><%= l(day.finished_at, format: :hour) if day.finished_at.present? %></td>
          <td><%= l(day.finished_at, format: :minute) if day.finished_at.present? %></td>
          
          <td>
          <% if day.started_at.present? && day.finished_at.present? %>
            <%= str_times = working_times(day.started_at, day.finished_at) %>
            <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
          <% end %>
          </td>
          
          <td><%= day.note %></td>
          
          
          <td><%= l(day.finished_plan_at, format: :hour) if day.finished_plan_at.present? %></td>
          <td><%= l(day.finished_plan_at.floor_to(15.minutes), format: :minute) if day.finished_plan_at.present? %></td>
          <td>
            <%= day.overtime_hours.to_d.floor(1).to_f if day.finished_plan_at.present? %>
          </td>
          <td><%= day.business_process_content %></td>
          <td>
            <% unless day.overtime_status == "申請中" %>
              <%= "勤怠編集#{day.overtime_status}" if day.overtime_status.present? %>
            <% else %>
              <%= "#{day.overtime_superior_name}に申請中" %>
            <% end %>
            <% unless day.change_status == "申請中" %>
              <%= "勤怠編集#{change_apply_status(day.change_status)}" if day.change_status.present? %>
            <% else %>
              <%= "#{day.change_superior_name}に申請中" %>
            <% end %>
          </td>
          
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th colspan="2">累計日数</th>
        <th colspan="5">総合勤務時間</th>
        <th>累計在社時間</th>
        <td colspan="5", rowspan="2"></td>
        <td rowspan="2">
          <div class="application-form">
            <%= render 'month_apply_form' %>
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td colspan="2"></td>
        <td colspan="5"></td>
        <td><%= format("%.2f", @total_working_times.to_f) %></td>
        
      </tr>
    </tfoot> 
  </table>
</div>

<!--モーダルウインドウ表示-->
<div id="edit-overtime-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="overtime_superior_reply" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="monthly_confirmation_form" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="change_apply_form" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>


