<% provide(:class_text, 'overtime-info') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">【残業申請】</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= form_with(model: @user, url: request_overtime_user_attendance_path(date: @first_day), local: true, method: :patch) do |f| %>
            <%= render 'shared/error_messages', object: @user %>
            <tr>
              <td><%= f.label :worked_on, class: "label-#{yield(:class_text)}" %></td>
              <td><%= f.label :曜日, class: "label-#{yield(:class_text)}" %></td>
              <td><%= f.label :終了予定時間, class: "label-#{yield(:class_text)}" %></td>
              <td><%= f.label :翌日, class: "label-#{yield(:class_text)}" %></td>
              <td><%= f.label :業務処理内容, class: "label-#{yield(:class_text)}" %></td>
              <td><%= f.label :指示者確認, class: "label-#{yield(:class_text)}" %></td>
            </tr>
            <tr>
              <td><%= l(day.worked_on, format: :short) %></td>
              <td><%= f.time_field :basic_time, class: "form-control" %></td>
              <td><%= f.time_field :work_time, class: "form-control" %></td>
              <td><%= f.text_field :affiliation, class: "form-control" %></td>
              <td></td>
              <td></td>
            </tr>
            <div class="center">
              <%= f.submit "変更を申請する", class: "btn btn-primary btn-#{yield(:class_text)}" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>