

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">【残業申請】</h1>
    </div>
    
    <div class="overtime-info-form">
        
      <%= form_with(model: @user, url: user_attendance_request_overtime_path(@attendance), local: true, method: :patch) do |f| %>
        <div>
          <table class="table table-bordered table-condensed table-hover" id="table-attendances">
            
              <thead>
                <tr>
                  <th>日付</th>
                  <th>曜日</th>
                  <th>終了予定時間</th>
                  <th>翌日</th>
                  <th>業務処理内容</th>
                  <th>指示者確認㊞</th>
                </tr>
              </thead>
              
              <%= f.fields_for :attendances do |attendance| %>
              <tbody>
                <tr>
                  <td><%= l(@attendance.worked_on, format: :short) %></td>
                    
                  <td>
                  <% if @attendance.worked_on.wday == 0 %>
                    <font color="RED">
                      <%= $days_of_the_week[@attendance.worked_on.wday] %>
                    </font>
                  <% elsif @attendance.worked_on.wday == 6 %>
                    <font color="BLUE">
                      <%= $days_of_the_week[@attendance.worked_on.wday] %>
                    </font>
                  <% else %>
                    <%= $days_of_the_week[@attendance.worked_on.wday] %>
                  <% end %>
                  </td>
                  
                  <td><%= attendance.time_field :finished_plan_at %></td>
                  
                  <td><%= attendance.check_box :next_day %></td>
                  
                  <td><%= attendance.text_field :business_process_content %></td>
                  
                  <td><%= attendance.collection_select :instructor_confirmation, User.where(superior: true), :name, :name, :prompt =>"上長を選択してください。" %></td>
                </tr>
              </tbody>
              <% end %>
            
          </table>
        </div>
        <div class="center">
          <%= f.submit "残業申請", class: "btn btn-lg btn-primary" %>
          <%= link_to "キャンセル", "#", class: "btn btn-lg btn-default" %>
        </div>
      <% end %>
        
    </div>
    
  </div>
</div>